<div class="panel panel-default">
  <div class="panel-heading"></div>
    メッセージ一覧
  </div>
  
  <div class="panel-body">
    <% @messages.each do |message| %>
    <span class="label label-info"><%= message.name %></span>
    <%= message.body %>
    <br>
    <% end %>
  </div>
</div>

  <%= form_for(@message, html:{class: "form-horizontal"}) do |f| %>
    <div class="form-gruop">
      <lavel for="name" class="col-sm-2 control-label">名前:</lavel>
      <div class="col-sm-10">
        <%= f.text_field :name, class:"form-control", placeholder:"お名前入れてね" %>
      </div>
    </div>
    <div class="form-gruop">
      <lavel for="body" class="col-sm-2 control-label">内容:</lavel>
      <div class="col-sm-10">
        <%= f.text_area :body, rows: 5, class:"form-control",  placeholder:"ここにテキスト入れてね" %>
      </div>
    </div>
    <div class="form-gruop">
      <div class="col-sm-6 col-sm-offset-6">
        <%= f.submit class:"btn btn-success btn-sm" %>
      </div>
    </div>
<% end %>
</div>