<div class="panel panel-default">
  <div class="panel-heading"></div>
    メッセージ一覧
  </div>
  
  <div class="panel-body">
    <% @messages.each do |message| %>
    <span class="label label-info"><%= message.name %></span>
    <%= message.body %>
    <br>
    <% end %>
  </div>
</div>

<div class="container">
  <table class="table table-hover">
    <%= form_for(@message) do |f| %>
    <tr>
      <td>
        <p class=".bg-primary">名前:</p>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.text_field :name, class:"form-control" %>
      </td>
    </tr>
    <tr>
      <td>
        <p class=".bg-primary">内容:</p>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.text_area :body, rows: 10, class:"form-control" %>
      </td>
    </tr>
  </table>
  <%= f.submit class:"btn btn-success btn-block" %>
  </table>
<% end %>
</div>